@import "tailwindcss";

@theme {
  --color-brand-blue: #0949a9;
  --color-brand-yellow: #ffce00;
  --color-brand-white: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

.bg-brand-blue {
  background-color: #0949a9;
}

.text-brand-blue {
  color: #0949a9;
}

.bg-brand-yellow {
  background-color: #ffce00;
}

.text-brand-yellow {
  color: #ffce00;
}

.bg-brand-white {
  background-color: #ffffff;
}

.text-brand-white {
  color: #ffffff;
}

.hero-image-blend {
  mix-blend-mode: multiply;
  isolation: isolate;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
